/*-----------------------------*\
 fonts
\*-----------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&family=Poppins:wght@300;400;500;600;700&display=swap');
/*-----------------------------*\
  common styles and utilities
\*-----------------------------*/
*{
    margin:0;
    padding:0;
}



body{
    background-color: #E5E5E5;
    font-family: 'Poppins', sans-serif;
    font-family: 'Manrope', sans-serif;
    overflow-x: hidden;
    width:100%;
}
/*-----------------------------*\
  header design starts here
\*-----------------------------*/
.navbar-color{
    color:#3E3E3E;
} 

.nav-font{
    font-family: Poppins;
    font-weight: 700;
}
.navbar-nav-font{
    font-family: Poppins;
    font-weight: 500;   
}
/*-----------------------------*\
  banner design starts here
\*-----------------------------*/
.banner-img{
    height:400px;
    width:100%;
    object-fit: cover;
}
.header-font{
    font-family: Poppins;
    font-weight: 600;
}
.para-font{
    font-family: Poppins;
    font-weight: 300; 
}
.button-font{
    font-family: Poppins;
    font-weight: 700;  
}

/*-----------------------------*\
  card design starts here
\*-----------------------------*/
.our-package-header{
    font-family: Poppins;
    font-weight: 600;
    font-style: normal;
    color: #0A0826;
}
.cards-h3-h5{
    font-family: Poppins;
    font-weight: 700;
    font-style: normal;
    color:#231D4F;
}



.cards-height-width{
    width:100%;
}
.bs-card-height-width{
    width:100%;
    position: relative;
    background-color: #35BDD0;
}

.choose-plan-btn-link{
    text-decoration: none;
}
.choose-plan-button{
    padding:7px 30px;
    background-color: #F496D1;
    color:#ffffff;
    border-radius: 20px;
    border: none;
    display:flex;
    justify-content: flex-end;
    align-items: center;
}
.card-para-text{
    font-family: Poppins;
    font-weight: 400;
    font-style:normal;
}
.best-value-badge{
    
    background-color: #B9345A;
    color: #ffffff;
    font-family: Poppins;
    font-weight: 400;
    font-style:normal;
    
}




/*---------------------------------------------------*\
  frequently ask question section design starts here
\*---------------------------------------------------*/
.frequently-ask-section{
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}

.frequently-ask-section-img{
   
    margin-left: 20px;
    
}
/*-----------------------------------*\
 subcribe section design strats here
\*-----------------------------------*/
.subcribes-section{
    background-color: #03C6C7;
    border-radius: 20px;
    padding: 30px;
    margin-top: 100px;
}











/*-----------------------------------*\
 footer design strats here
\*-----------------------------------*/

.footer-section {
    background-color: #0B0D17;
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    height:250px;
    box-sizing: border-box;
}
.footers-para{
    color:#D9DBE1;
}
h5{
    color:#D9DBE1;
    font-family: Manrope;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
}
.footer-area{
    width:50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.app-store-link{
    width:50%;
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 70px;

}
.link-store-img{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

/*-----------------------------------*\
 responsive design strats here
\*-----------------------------------*/
/* for medium screen */
@media only screen and (min-width:768px) and (max-width:991px){

    .frequently-ask-section-img{
        width: 100%;
       margin-top:50px;
       
        
    }
}
/* for small screen */
@media only screen and (max-width:767px){

    .frequently-ask-section-img{
        width: 100%;
       margin-top:50px;
       margin-left: 0px;
    }
    .subcribes-section{
        border-radius: 0px;
    }
}
